.About {
    position: absolute;
    width: 1447px;
    height: 603px;
    left: 0px;
    top: 1507px;
    background: #BAF1F9;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.About__image img {
    width: 496px;
    height: 489px;
    padding: 22%;
}

.About__desc {

    padding: 10%;
}

.heading {
    width: 531px;
    height: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color: #000000;
}

.paragraphe {
    width: 536px;
    height: 159px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}